<header>
  <div class="header-logo">
    <a href="/">TweetApp</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">TweetAppとは</a>
    </li>
  </ul>
</header>

<!-- 以下のコードを削除してください -->

<!-- ここまで削除 -->

<!-- 以下の「<% %>」の中に指定された内容の配列postsを定義してください -->
<%
    posts=["今日からProgateでRailsの勉強するよー！","投稿一覧ページ作成中！"]
%>

<div class="main posts-index">
  <div class="container">
    <!-- 以下の<% %>を使ってeach文を追加してください -->
    <% posts.each do |post|%>
      <div class="posts-index-item">
        <!-- 以下の<%= %>を使って投稿内容を表示してください -->
        <%= post%>
      </div>
    <!-- 以下の<% %>を使ってeach文のendを追加してください -->
    <% end%>
  </div>
</div>
